<header>
    <div class="navBar">
        <nav class=" z-depth-0 navBarmatch ">
            <div class="nav-wrapper ">
                <a href="/" class="brand-logo">EROS</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#!" class="contact">Setting</a></li>
                    <li><a href="/contact" class="contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<ul class="sidenav" id="mobile-demo">
    <li><a href="/contact">Contact Us</a></li>
</ul>
<main>
    <div class="container contactBox">
        <div class="row">
            <div class="col s12">
                <h5>Contact Us</h5>
            </div>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">Message</label>
                    </div>
                </div>
            </form>
        </div>
        <button class="btn waves-effect waves-light contactSubmit" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
        </form>
        <!-- Modal Structure -->
        <div id="modal2" class="modal">
            <div class="modal-content">
                <iframe class="i-frame" src="http://www.mcflysoftware.com/eros-privacy-policy.html"></iframe>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
</main>
</div>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright
            <a class="grey-text text-lighten-4 right modal-trigger" href="#modal2">Privacy Policy</a>
        </div>
    </div>
</footer>