<link rel="stylesheet" href="/styles/index.css" media="screen" title="no title" charset="utf-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header>
  <div class="navBar">
    <nav class="transparent z-depth-0 animated slideInDown">
      <div class="nav-wrapper ">
        <a href="#!" class="brand-logo">Meet</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>


<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>
<main>
  <div class="container">
    <div class="col">
      <div class="row">

      </div>
      <div class="row">
        <div class="col s12 intro animated slideInDown">
          <div class="row">
            STOP TEXTING AND JUST MEET.
          </div>


        </div>
      </div>
      <!-- Modal Trigger -->
      <div class="centered">
        <a class="animated slideInDown waves-effect waves-light btn modal-trigger btn-large start-button"
          href="#modal1">Sign up</a>
      </div>


    </div>

    <!-- Modal Structure -->
    {{!-- gender --}}
    <div id="modal1" class="modal">
      <form>
        <div class="modal-content">
          <div class="row">
            <div class="col s12 modalHeader">
              Get Started
            </div>

          </div>
          <div class="row">
            <div class="input-field col s6">
              <select id="gender" class="validate" required="required">
                <option value="" disabled selected>Choose gender</option>
                <option value="1">Male looking for female</option>
                <option value="2">Female looking for male</option>
                <option value="3">Male looking for male</option>
                <option value="4">Female looking for female</option>
              </select>
              <label>Gender</label>
            </div>
            {{!--  --}}
            {{!-- age --}}
            <div class="col s6">
              <label>Select your age.</label>
              <select class="browser-default validate" id="age" required="required">
                <option value="" disabled selected>Choose your age</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
              </select>
            </div>
          </div>
          {{!--  --}}
          <div class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="First name" id="first_name" type="text" name="username" required="required">
                <label for="first_name">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="last_name" type="text" class="validate" required="required">
                <label for="last_name">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="email" type="email" class="validate" required="required">
                <label for="email">Email</label>
              </div>
              <div class="input-field col s6">
                <input id="password" type="password" class="validate" required="required">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div action="#">
                <div class="col s6 file-field input-field">
                  <div class="btn uploadBtn">
                    <span>Upload</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Photo">
                  </div>
                </div>
              </div>

              <form class="col s6">
                <div class="row">
                  <div class="input-field col s6">
                    <input id="zipCode" type="text" maxlength="5">
                    <label for="input_text">Zip code</label>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button class="btn waves-effect waves-light submitBtn" id="submitBtn" type="submit" name="action">Submit
            </div>
      </form>
    </div>
  </div>
</main>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright Text
    </div>
  </div>
</footer>