<div class="container">
  <div class="col">
    <div class="row">
      <div class="col s12 header">
        (App name)
      </div>
    </div>
    <div class="row">
      <div class="col s12 intro">
        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
        
      </div>
    </div>
    <!-- Modal Trigger -->
    <a class="centered waves-effect waves-light btn modal-trigger btn-large start-button" href="#modal1">Sign in</a>

  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="input-field col s12">
      <select>
        <option value=""disabled selected>Choose gender</option>
        <option value="1">Male looking for female</option>
        <option value="2">Female looking for male</option>
        <option value="3">Male looking for male</option>
        <option value="4">Female looking for female</option>
      </select>
      <label>Gender that you are looking for.</label>
    </div>
    <label>Please select your age.</label>
    <select class="browser-default">
      <option value="" disabled selected>Choose your age</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      <option value="32">32</option>
      <option value="33">33</option>
      <option value="34">34</option>
      <option value="35">35</option>
      <option value="36">36</option>
      <option value="37">37</option>
      <option value="38">38</option>
      <option value="39">39</option>
      <option value="40">40</option>
      <option value="41">41</option>
      <option value="42">42</option>
      <option value="43">43</option>
      <option value="44">44</option>
      <option value="45">45</option>
      <option value="46">46</option>
    </select>
    <br><br>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="First name" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
      </form>
    </div>
    
  </div>
  <div class="modal-footer">
    <a href="!#" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>