body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/img/home.bg.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;    
    font-family: 'Cinzel', serif; 
}
.modal-footer{
    display: flex;
    justify-content: center;   
}
.modalHeader{
    text-align: center;
    font-size: 30px;
}
.submitBtn{
    background-image: linear-gradient(to bottom right, red, yellow) !important;
    background-color: red !important;
    color: black;
    animation-delay: 2s;
    margin-bottom: 20px;
}
.submitBtn:hover{
    color: white;
}
.navBar{
    margin-top: 35px;
     margin-left: 150px;
     margin-right: 150px;
}
.uploadBtn{
    background-image: linear-gradient(to bottom right, red, yellow) !important;
    background-color: red !important;  
    color: black;
}
.uploadBtn:hover{
    color: white;
}
.start-button{
    background-image: linear-gradient(to bottom right, red, yellow) !important;
    background-color: red !important;
    margin-top: 80px;  
    color: black; 
    font-family: 'Cinzel', serif !important;    
}
.start-button:hover{
    color: white;
}
.intro{
    margin-top: 160px;
    font-size: 60px;
    color: white; 
    
}
.brand-logo{
    margin-left: 10px;
    font-size: 40px !important;
  }
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=text].invalid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
    color: red !important
}
 .input-field input[type=text]:focus + label {
    color: lightcoral !important;
}
main {
    flex: 1 0 auto;
}
