
.list-group-item {
  line-height: 2.5;
}
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Cinzel', serif;
}
main {
  flex: 1 0 auto;
}
.navBarmatch{
  background-color: orange !important;
}
.brand-logo{
  margin-left: 220px;
  font-size: 40px !important;
}
.brand-logo:hover{
  color:black;
}
.header{
  text-align: center;
  font-size: 50px;
}
.centered{
  display: flex;
  justify-content:center
}
#modal1.modal{
margin-top: 0px;
 max-height:100% !important;
 width: 450px;
 border-radius: 20px;
}
.oops{
  font-size: 150px;
  margin-left: 300px;
}
.error{
  margin-left: 150px;
}
.backHome{
  margin-left: 420px;
  background-image: linear-gradient(to bottom right, red, yellow) !important;
}
.page-footer{
  background-color: orange !important;
  text-align: center;
}
.card-title{
  color: black !important;
}
.facebook{
  color: blue !important;
  font-size: 15px;
}
.facebook:hover{
  opacity: 0.6;
}
.contact{
  margin-right: 30px;
}
.connect{
  font-size: 10px;
}