.list-group-item {
  line-height: 2.5;
}
body{
  font-family: 'Arapey', serif;
}
.header{
  text-align: center;
  font-size: 50px;
}
.centered{
  display: flex;
  justify-content:center
}
#modal1.modal{
 max-height:100% !important;
 width: 450px;
 border-radius: 20px;
}
.oops{
  font-size: 150px;
  margin-left: 300px;
}
.error{
  margin-left: 150px;
}
.backHome{
  margin-left: 420px;
  background-image: linear-gradient(to bottom right, red, yellow) !important;
}